
/*Backgrounds*/
.bg-main {
    background-color: #FFFEFE;
}

.bg-second {
    background-color: #F3F4F6;
}

/*Font*/
.text-color-blue {
    color: #263FA9;
}

.text-color-black {
    color: #000000;
}