@import url('https://fonts.googleapis.com/css?family=Outfit:400,500,600&display=swap');

body {
    font-family: 'Outfit', sans-serif !important;
}

/*Backgrounds*/
.bg-one {
    background-color: #C1B6F8;
}

.bg-two {
    background-color: #EDACD2;
}

.bg-three {
    background-color: #9DC4F8;
}

.bg-four {
    background-color: #F8D8B0;
}

.bg-five {
    background-color: #86E7D4;
}